[submodule "query/easyaccess"]
	path = query/easyaccess
	url = https://github.com/mgckind/easyaccess
	branch = master
[submodule "cutout/easyaccess"]
	path = cutout/easyaccess
	url = https://github.com/mgckind/easyaccess
	branch = master
